[submodule "TeraCommon"]
	path = TeraCommon
	url = https://github.com/TERA-Europe-Classic/TeraCore
	branch = main
[submodule "TeraDpsMeterData"]
	path = resources/data
	url = https://github.com/LukasTD/TeraDpsMeterData
